{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About Us</h1>
    <p>EnviroServe Kenya aims to address these challenge of improper electronic disposal by 
        introducing an innovative website-based e-waste collection service. 
        This platform will allow individuals and businesses to schedule pickups for responsible 
        disposal of electronic devices, ensuring environmentally-friendly recycling practices. 
        Through this service, we aim to reach a wider population, educate the public on sustainable 
        recycling, and help reduce the negative environmental impact of e-waste.</p>
</body>
</html>