{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>How it works</h1>
    <p><b>Creating an Account & Logging In:</b></p>
        <p>
            Users can visit the website and sign up for an account. During sign-up, they’ll provide basic information like name, contact details, and location.
            Once registered, users can log in to access the full features of the service.
    
        </p>

        <p><b>Requesting E-Waste Collection:</b></p>
        <p>
            On the user dashboard, there’s an option to request an e-waste collection.
        Users fill in details about the type and amount of electronic waste they need to dispose of. This could include items like old phones, computers, televisions, etc.
        Users manually input their address or select from available pre-filled address options, ensuring accurate collection scheduling.
        </p>

        <p><b>Scheduling Pickups:</b></p>
        <p>
            After providing the necessary details, users can select a convenient time for their e-waste pickup.
        Once the details are submitted, the system sends a confirmation notification with the pickup time and date.
        </p>

        <p><b>Tracking Collection Status:</b></p>
        <p>
            Users can track the status of their request in real-time through the website. This feature will show if their request has been received, if the collection is in progress, or if it has been completed.
            Notifications will also be sent to remind users of the scheduled collection time.
        </p>
        <p><b>Collection Point Mapping:</b></p>
        <p>
            If a user is unable to schedule a pickup or prefers to drop off their e-waste, the website will provide a list of nearby e-waste collection points.
            Users can search or filter by location to find the most convenient drop-off centers in their area.
        </p>
        <p><b>Educational content:</b></p>
        <p>
        The growing amount of electronic waste (e-waste) has become a significant environmental
             concern worldwide. Improper disposal of electronic devices contributes to hazardous waste 
             and environmental pollution, impacting both land and water sources. E-waste contains toxic 
             substances like lead, mercury, and cadmium, which can leach into the environment, causing 
             long-term damage to ecosystems and human health. With rapid advancements in technology, 
             people are constantly 
            upgrading their electronic devices, which leads to an increase in e-waste.</p>

            <p><b>Feedback & Continuous Improvement:</b></p>
        <p>
            After the collection is completed, users can provide feedback on their experience with the service, which helps EnviroServe Kenya improve the platform.
        Users can also suggest features or improvements, ensuring the platform evolves to meet their needs over time.
        </p>

        <footer style="background-color: green; color: white;">
            <div style="display: flex;">
                <div style="margin-left: 400px;">
                    <h3>Contacts</h3>
                    <p>Phone: 0781567890</p>
                    <p>Phone: 0722345678</p>
                    <p>Location: Nyeri, Kenya</p>
                    <p>Email: enviroServeKenyaCompanyLTD@gmail.com</p>
                    </div>
                   <div style="margin-left: 200px;">
                    <h3>Follow Us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>LinkedIn</li>
                    </ul>
                   </div>
            </div>
    
            <p style="text-align: center; background-color: rgb(48, 45, 45); 
            height: 50px;">&copy; 2025 EnviroServe Kenya. All Rights Reserved.</p>
        </footer>
        
</body>
</html>