{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Waste | Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>        

        <div class="style1">
            <h1 class="h1">Login</h1>
            <form action="#" method="POST">
                <p class="style2"><input class="style3" type="text" placeholder="Username" 
                    name="username"required ></p>
        
                <p class="style4"><input class="style5" type="password" placeholder="Password" 
                    name="password" required></p>
        
                <button type="submit" class="btn">Login</button>
        
                <p class="style6"><a href="{% url 'resetpassword' %}">Forgot Password?</a></p>

                <p class="style7">Don't have an account?</p>

                <a href="{% url 'register' %}" class="style8">Register</a>

                <p><button class="style9">
                <img src="{% static 'images/Google.jpg' %}" alt="My Image" class="style10">
                Continue With Google</button></p>

                <p><button class="style11">
                <img src="{% static 'images/Facebook.jpg' %}" alt="My Image" class="style12">
                Continue with Facebook</button></p>
            </form>
        </div>

</body>
</html>