{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Waste | Register</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <div class="header" style=" padding-top: 10px; padding-bottom: 10px;">
            <img src="{% static 'images/ewaste_logo.jpg' %}" alt="My Image" class="image">
        
               
                <nav>
                    <ul class="menu">
                        <li><a href="{% url 'home' %}" style="margin-right: 10px;
                        margin-left: 750px; color: white;"
                        onmouseover="this.style.color='red';" onmouseout="this.style.color='white';">Home</a></li>
                        <li><a href="{% url 'about' %}" style="margin-right: 10px; color: white;"
                            onmouseover="this.style.color='red';" onmouseout="this.style.color='white';">About Us</a></li>
                        <li><a href="{% url 'learnmore' %}" style="margin-right: 10px; color: white;"
                            onmouseover="this.style.color='red';" onmouseout="this.style.color='white';">How it works</a></li>
                        <li><a href="{% url 'login' %}" style="margin-right: 10px; color: white;"
                            onmouseover="this.style.color='red';" onmouseout="this.style.color='white';">Login</a></li>
                        <li><a href="{% url 'register' %}" style="margin-right: 10px; color: white;"
                            onmouseover="this.style.color='red';" onmouseout="this.style.color='white';">Register</a></li>
                        <li><a href="{% url 'contactus' %}" style="margin-right: 10px; color: white;"
                            onmouseover="this.style.color='red';" onmouseout="this.style.color='white';">Contact Us</a></li>
                    </ul>
                </nav>
        </div>
            </header>
        
    <h1 style="margin-left: 650px;">Register</h1>
    <form action="#" method="POST">
        <p style="text-align: center;"><input style="width: 400px; height: 30px; font-size: 15px;" 
            type="text" placeholder="Username" name="username" required></p>

        <p style="text-align: center;"><input style="width: 400px; height: 30px; font-size: 15px;"
             type="password" placeholder="Password" name="password" required></p>

        <p style="text-align: center;"><input input style="width: 400px; height: 30px; font-size: 15px;"
             type="password" placeholder="Confirm Password" name="password" required></p>

        <button type="submit" class="btn" style="margin-left: 650px; color: white;
        border: none; background-color: rgb(0, 140, 255);padding: 10px; border-radius: 50px; 
        font-size: 15px;"
        onmouseover="this.style.color='red';" onmouseout="this.style.color='white';">Register</button>

        <p style="text-align: center;">Already have an account?</p>
        <a href="{% url 'login' %}" style="margin-left: 650px;">Login</a>
    </form>
</body>
</html>