{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Waste | Register</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="style1">

        <h1 class="style2">Register</h1>
        <form action="#" method="POST">
            <p class="style3"><input class="style4" 
                type="text" placeholder="Username" name="username" required></p>
    
            <p class="style5"><input class="style6"
                 type="password" placeholder="Password" name="password" required></p>
    
            <p class="style7"><input class="style8"input
                 type="password" placeholder="Confirm Password" name="password" required></p>
    
            <button type="submit" class="btn">Register</button>
    
            <p  class="style9">Already have an account?</p>
            <a class="style10" href="{% url 'login' %}">Login</a>

            <p><button class="style11">
                <img src="{% static 'images/Google.jpg' %}" alt="My Image" class="style12">
                Continue With Google</button>
            </p>
                <p><button class="style13">
                <img src="{% static 'images/Facebook.jpg' %}" alt="My Image" class="style14">
                Continue with Facebook</button></p>
        </form>
    </div>
</body>
</html>