{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet" href="{% static 'css/resetpassword.css' %}">
</head>
<body>
        
    <div class="style1">

        <h1 class="style2">Forgot Password</h1>
        <p class="style3">Enter your new password and then confirm your password</p>
        <form action="#" method="POST">

            <p class="style4"><input class="style5" 
                type="password" placeholder="New password" name="email" required>
            </p>

            <p class="style6"><input class="style7" 
                type="password" placeholder="Confirm password" name="email" required>
            </p>
        </form>
        <a class="style8" href="{% url 'login' %}">Back to Login</a>
    </div> 
</body>
</html>