body{
    margin: 0px;
}
.header{
    padding-top: 10px; 
    padding-bottom: 10px;
    display: flex;
    background-color: rgb(3, 61, 148);
}
h1{
    margin-left: 150px;
}
.image{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-left: 10px;
}
.info{
    display: flex;
}
.image2{
    width: 400px;
    height: 400px;
}
.container{
    width: 400px;
    height: 600px;
    background-color: white;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 50px;
}
.menu{
    display: flex;
    list-style-type: none; 
    margin-top: 30px;
}
.home{
    margin-left: 750px; 
    margin-right: 20px; 
    text-decoration: none;
    color: white;
}
.about, .works, .login, .register, .contact{
    margin-right: 20px; 
    text-decoration: none;
    color: white;
}
.home:hover, .about:hover, .works:hover, .login:hover, .register:hover, .contact:hover{
    color: red;
} 
.footer{
    background-color: green; color: white; margin-top: 80px;
}
.div1{
    display: flex;
}
.div2{
    margin-left: 400px;
}
.div3{
    margin-left: 200px;
}
.copyright{
    text-align: center; 
    background-color: rgb(48, 45, 45); 
    height: 30px; 
    padding-top: 10px;
}