body{
    margin: 0px;
}
.header{
    display: flex;
    background-color: rgb(3, 61, 148);
}
.image{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 10px;
}
.menu{
    display: flex;
    list-style-type: none; 
    margin-top: 30px;
}
.moving-text {
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap; /* Prevents text from wrapping */
    animation: moveText 15s linear infinite; /* Animation applied */
  }
  @keyframes moveText {
    0% {
      transform: translateX(100%); /* Start from right */
    }
    100% {
      transform: translateX(-100%); /* End at left */
    }}

    /* Initial style for the button */

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f0f0f0;
      margin: 0;
  }
      /* Define the keyframe animation in a <style> block */
      @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-20px);
        }
    }